@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "cairo-regular";
  src: url(../fonts/Cairo-Regular.ttf);
}

input:not(:placeholder-shown) ~ .custom-input {
  @apply -top-3 text-xs text-blue-600;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
@media screen {
  .printable {
    display: none;
  }
}

@media print {
  .printable {
    display: block;
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-columns: repeat(2, 1fr);
  }
}
